section{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-content: center;
    max-width: 1200px;
    margin-left:auto;
    margin-right:auto;
    border: solid 2px darkgray ;
    background-color: darkgray;

}
.section1{
    position:relative;
    display:block;
    overflow:hidden;

}

.section2{
    justify-content:space-evenly;
  
}

.section3{
    justify-content:space-between;

}


